<header class="header container">
  <div class="header-wrapper">
    <a class="coffe-svg" href="../index.html">
      <svg width="84" height="36">
        <use href="/img/sprite.svg#icon-logo"></use>
      </svg>
    </a>
    <nav class="nav-coffe">
      <ul class="item-coffe-nav">
        <li class="item-link-coffe">
          <a href="#welcome" class="link-coffe">About us</a>
        </li>
        <li class="item-link-coffe">
          <a href="#benefits" class="link-coffe">Benefits</a>
        </li>
        <li class="item-link-coffe">
          <a href="#gallery" class="link-coffe">Gallery</a>
        </li>
        <li class="item-link-coffe">
          <a href="#testimonial" class="link-coffe">Testimonial</a>
        </li>
        <li class="item-link-coffe">
          <a href="#location" class="link-coffe">Location</a>
        </li>
      </ul>
    </nav>
    <button class="burger-btn" type="button">
      <svg width="24" height="24">
        <use class="burger-icon" href="/img/sprite.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
