.container{
  padding: 18px 16px;
}

.header{
  background-color: var(--bg-color);
}

.header-wrapper{
  display: flex;
  justify-content: space-between;
}

.burger-btn{
  background-color: transparent;
  padding: 0;
  border: none;
}

.burger-icon{
  display: block;
  fill: #0B0803;
}

.nav-coffe{
  display: none;
}

@media screen and (min-width: 768px) {
  .container{
    max-width: 768px;
    padding: 18px 64px;
  }

  .header-wrapper{
    justify-content: space-between;
    align-items: center;
  }

  .nav-coffe {
    display: block;
  }

  .item-coffe-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
  }

  .link-coffe{
    font-family: var(--secondary-font);
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.5;
  }

  .burger-btn{
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}